.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
}

.modal-container {
  width: 450px;
  height: 250px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 25px;
}

.modal-title {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1rem;
}

.modal-title h1 {
  margin: 0px;
}

.modal-close-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.modal-close-button button {
  height: 40px;
  width:  40px;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
}

.modal-body {
  max-height: 50px;
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.modal-body h1 {
  margin: 0px;
}

.modal-footer {
  max-height: 50px;
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
